/* head{

    font:15px/1.5 Arial, Helvetica,sans-serif;
	padding: 0px;
	background-color:#a43d3d;
 
} */

body{
    font-style:italic;
    font-family:'Times New Roman', Times, serif;
    font:15px/1.5 Arial, Helvetica,sans-serif;

    background-color: #FFC9BE; 
    text-align:center;
    background-image: url("books.jpg");



}
.boxed{
    background-color: whitesmoke;
    padding: 5px;
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;

    
}

/*div{
    width:320px;
    padding: 10px;
    margin: 150px;
    background-color: white
    
}*/